<a href="https://colab.research.google.com/github/sureshkuc/Freie-Universitat-Berlin/blob/main/statistics-for-small-sample-size/Stats_sheet2_ex3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Exercise 3
This is an R exercise based on the built-in data set PlantGrowth. The data result from an
experiment to compare yields (as measured by dried weight of plants) obtained under a control
and two different treatment conditions. Adopting the notation from Exercises 1 and 2, we have
Group 1 (“ctrl”):
Group 2 (“trt1”):
Group 3 (“trt2”):
x 11 , x 12 , . . . , x 1n 1 .
x 21 , x 22 , . . . , x 2n 2 .
x 31 , x 32 , . . . , x 3n 3 .
Compute and report
• the (mid-)ranks of x 11 , . . . , x 1n 1 , x 21 , . . . , x 2n 2 , x 31 , . . . , x 2n 3 among all N = n 1 + n 2 + n 3
observations,
• the mean (mid-)rank in each of the three samples (not the mean internal ranks),
• the relative effects p b 1 , p b 2 , and p b 3 .
In addition, compute and report
• the pseudoranks of x 11 , . . . , x 1n 1 , x 21 , . . . , x 2n 2 , x 31 , . . . , x 2n 3 among all N = n 1 + n 2 + n 3
observations,
• the mean pseudorank in each of the three samples (not the mean internal pseudoranks),
• the relative effects ψ b 1 , ψ b 2 , and ψ b 3 .
Now delete the following 5 observations from the PlantGrowth dataset
26
27
28
29
30
weight group
5.29 trt2
4.92 trt2
6.15 trt2
5.80 trt2
5.26 trt2
and redo this exercise. Compare and comment on the results.

In [ ]:
install.packages("rankFD")
data("PlantGrowth")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [ ]:
PlantGrowth

   weight group
1  4.17   ctrl
2  5.58   ctrl
3  5.18   ctrl
4  6.11   ctrl
5  4.50   ctrl
6  4.61   ctrl
7  5.17   ctrl
8  4.53   ctrl
9  5.33   ctrl
10 5.14   ctrl
11 4.81   trt1
12 4.17   trt1
13 4.41   trt1
14 3.59   trt1
15 5.87   trt1
16 3.83   trt1
17 6.03   trt1
18 4.89   trt1
19 4.32   trt1
20 4.69   trt1
21 6.31   trt2
22 5.12   trt2
23 5.54   trt2
24 5.50   trt2
25 5.37   trt2
26 5.29   trt2
27 4.92   trt2
28 6.15   trt2
29 5.80   trt2
30 5.26   trt2

In [ ]:
#R-
R_minus<-rank (PlantGrowth$weight , ties.method = "min" )
#R+
R_plus<-rank (PlantGrowth$weight , ties.method = "max" )
#mid-rank for all samples
R_mid<-rank (PlantGrowth$weight , ties.method = "average" ) # default

In [ ]:
#mid rank for all samples N=n1+n2+...+n_d
R_mid

 [1]  3.5 24.0 17.0 28.0  7.0  9.0 16.0  8.0 20.0 15.0 11.0  3.5  6.0  1.0 26.0
[16]  2.0 27.0 12.0  5.0 10.0 30.0 14.0 23.0 22.0 21.0 19.0 13.0 29.0 25.0 18.0

In [ ]:
summary(PlantGrowth)

     weight       group
 Min.   :3.590   ctrl:10
 1st Qu.:4.550   trt1:10
 Median :5.155   trt2:10
 Mean   :5.073
 3rd Qu.:5.530
 Max.   :6.310

In [ ]:
library (rankFD)
group = factor ( c ( rep ( 1 ,10 ) , rep ( 2 ,10 ) , rep ( 3 ,10 ) ))
data = data.frame ( response =PlantGrowth$weight , group = group )
# pseudo - ranks :
dataPSR = psr ( response ~ group , data = data , psranks = "Pseudo_Rank" )

In [ ]:
dataPSR$Rank=R_mid
dataPSR

   response group Pseudo_Rank Rank
1  4.17     1      3.5         3.5
2  5.58     1     24.0        24.0
3  5.18     1     17.0        17.0
4  6.11     1     28.0        28.0
5  4.50     1      7.0         7.0
6  4.61     1      9.0         9.0
7  5.17     1     16.0        16.0
8  4.53     1      8.0         8.0
9  5.33     1     20.0        20.0
10 5.14     1     15.0        15.0
11 4.81     2     11.0        11.0
12 4.17     2      3.5         3.5
13 4.41     2      6.0         6.0
14 3.59     2      1.0         1.0
15 5.87     2     26.0        26.0
16 3.83     2      2.0         2.0
17 6.03     2     27.0        27.0
18 4.89     2     12.0        12.0
19 4.32     2      5.0         5.0
20 4.69     2     10.0        10.0
21 6.31     3     30.0        30.0
22 5.12     3     14.0        14.0
23 5.54     3     23.0        23.0
24 5.50     3     22.0        22.0
25 5.37     3     21.0        21.0
26 5.29     3     19.0        19.0
27 4.92     3     13.0        13.0
28 6.15     3     29.0        29.0
29 5.80     3     25.0        25.0
30 5.26     3     18.0        18.0

In [ ]:
# calculation of mean mid-Rank  for individual group
R_i=aggregate(x = dataPSR$Rank,                # Specify data column
          by = list(dataPSR$group),              # Specify group indicator
          FUN = mean) 
          
# average mid rank per group 
R_i

  Group.1 x
1 1       14.75
2 2       10.35
3 3       21.40

In [ ]:
#relative effects p1_hat , p2_hat , and p3_hat
p_i= 1/30*(R_i$x-0.5)

print(paste0('p1_hat',p_i[1]))
print(paste0('p2_hat',p_i[2]))
print(paste0('p3_hat',p_i[3]))

[1] "p1_hat0.475"
[1] "p2_hat0.328333333333333"
[1] "p3_hat0.696666666666667"

In [ ]:
# calculation of mean Pseudo_Rank  for individual group
R_i_Psi=aggregate(x = dataPSR$Pseudo_Rank,                # Specify data column
          by = list(dataPSR$group),              # Specify group indicator
          FUN = mean) 

# average Psi rank per group 
R_i_Psi

  Group.1 x
1 1       14.75
2 2       10.35
3 3       21.40

In [ ]:
Psi_i= 1/25*(R_i_Psi$x-0.5)
##relative effects ψ1_hat , ψ2_hat , and ψ3_hat .
print(paste0('ψ1_hat',Psi_i[1]))
print(paste0('ψ2_hat',Psi_i[2]))
print(paste0('ψ3_hat',Psi_i[3]))

[1] "ψ1_hat0.57"
[1] "ψ2_hat0.394"
[1] "ψ3_hat0.836"

In [ ]:
PlantGrowth_after_deletion <- PlantGrowth[c(1:25),]
PlantGrowth_after_deletion

   weight group
1  4.17   ctrl
2  5.58   ctrl
3  5.18   ctrl
4  6.11   ctrl
5  4.50   ctrl
6  4.61   ctrl
7  5.17   ctrl
8  4.53   ctrl
9  5.33   ctrl
10 5.14   ctrl
11 4.81   trt1
12 4.17   trt1
13 4.41   trt1
14 3.59   trt1
15 5.87   trt1
16 3.83   trt1
17 6.03   trt1
18 4.89   trt1
19 4.32   trt1
20 4.69   trt1
21 6.31   trt2
22 5.12   trt2
23 5.54   trt2
24 5.50   trt2
25 5.37   trt2

In [ ]:
group = factor ( c ( rep ( 1 ,10 ) , rep ( 2 ,10 ) , rep ( 3 ,5 ) ))
data = data.frame ( response =PlantGrowth_after_deletion$weight , group = group )
# pseudo - ranks :
dataPSR = psr ( response ~ group , data = data , psranks = "Pseudo_Rank" )

dataPSR$Rank=rank(PlantGrowth_after_deletion$weight)
dataPSR

   response group Pseudo_Rank Rank
1  4.17     1      3.0000000   3.5
2  5.58     1     20.9166667  21.0
3  5.18     1     14.2500000  16.0
4  6.11     1     23.4166667  24.0
5  4.50     1      5.9166667   7.0
6  4.61     1      7.5833333   9.0
7  5.17     1     13.4166667  15.0
8  4.53     1      6.7500000   8.0
9  5.33     1     15.0833333  17.0
10 5.14     1     12.5833333  14.0
11 4.81     2      9.2500000  11.0
12 4.17     2      3.0000000   3.5
13 4.41     2      5.0833333   6.0
14 3.59     2      0.9166667   1.0
15 5.87     2     21.7500000  22.0
16 3.83     2      1.7500000   2.0
17 6.03     2     22.5833333  23.0
18 4.89     2     10.0833333  12.0
19 4.32     2      4.2500000   5.0
20 4.69     2      8.4166667  10.0
21 6.31     3     24.6666667  25.0
22 5.12     3     11.3333333  13.0
23 5.54     3     19.6666667  20.0
24 5.50     3     18.0000000  19.0
25 5.37     3     16.3333333  18.0

In [ ]:
# calculation of mean mid-Rank  for individual group
R_i=aggregate(x = dataPSR$Rank,                # Specify data column
          by = list(dataPSR$group),              # Specify group indicator
          FUN = mean) 

# average mid rank per group 
R_i

  Group.1 x
1 1       13.45
2 2        9.55
3 3       19.00

In [ ]:
#relative effects p1_hat , p2_hat , and p3_hat
p_i= 1/25*(R_i$x-0.5)

print(paste0('p1_hat',p_i[1]))
print(paste0('p2_hat',p_i[2]))
print(paste0('p3_hat',p_i[3]))

[1] "p1_hat0.518"
[1] "p2_hat0.362"
[1] "p3_hat0.74"

In [ ]:
# calculation of mean Pseudo_Rank  for individual group
R_i_Psi=aggregate(x = dataPSR$Pseudo_Rank,                # Specify data column
          by = list(dataPSR$group),              # Specify group indicator
          FUN = mean) 

# average Psi rank per group 
R_i_Psi

  Group.1 x
1 1       12.291667
2 2        8.708333
3 3       18.000000

In [ ]:
Psi_i= 1/25*(R_i_Psi$x-0.5)
##relative effects ψ1_hat , ψ2_hat , and ψ3_hat .
print(paste0('ψ1_hat',Psi_i[1]))
print(paste0('ψ2_hat',Psi_i[2]))
print(paste0('ψ3_hat',Psi_i[3]))

[1] "ψ1_hat0.471666666666667"
[1] "ψ2_hat0.328333333333333"
[1] "ψ3_hat0.7"